.time-by-sprint-name {
  margin-top: 50px
  margin-left: 300px
}

.header-body-separator {
  border-top: 1px dashed purple
  max-width: 80%
}

.work-item-left-side {
  border-left: 1px solid purple
}
