headers()
  font-family "Ubuntu Mono"
  font-size arguments
  display flex
  justify-content center

.main_header
  headers(25px)

.sub_header
  headers(15px)
  margin-top 10px

.noDisplay
  display none !important

.make-promise-button
  float right

