.select-duration {
  margin-right 5px
}

.plus-sign {
  padding-left 5px
  padding-right 5px
  color #673ab7
}

duration(bg-color)
  display inline-block
  padding 5px
  border 1px dotted black
  cursor pointer
  background-color bg-color

.duration-unselected {
  duration #f5f5f5
}
.duration-unselected:hover{
  background-color #421ab7
}

.duration-selected {
  duration #673ab7
}

.sprint-name {
  font-size 18px
  padding-left 3px
  margin-right 5px
  width 200px
  height 30px !important
}
.sprint-name-div{
  font-size 18px
  position absolute
  top 290px
  left 60px
  margin-right  5px
}
.spinner {
  position absolute
  top 130px
  left 50px
}

.spinner-fill {
  position absolute
  top 70px
  left 30px
  font-size 35px
}
.header-toolbar-spacer{
 margin-top 10px
}
