$plus_icon_color = #673ab7
$duration_div_hover_color = #421ab7
$duration_div_unselected_color = #f5f5f5
$cursor-input = pointer
$cursor-no-input = crosshair

.select-duration {
  margin-right 5px
}

.plus-sign {
  padding-left 5px
  padding-right 5px
  color $plus_icon_color
}

duration(bg-color, cursor)
  display inline-block
  padding 5px
  border 1px dotted black
  cursor cursor
  background-color bg-color

.duration-unselected {
  duration $duration_div_unselected_color $cursor-input

  &:hover {
    background-color $duration_div_hover_color
  }
}

.duration-unselected-running {
  duration $duration_div_unselected_color $cursor-no-input
}

.duration-selected {
  duration $plus_icon_color $cursor-no-input
}

.sprint-name {
  font-size 18px
  padding-left 3px
  margin-right 5px
  width 200px
  height 30px !important
}

.sprint-name-div {
  font-size 18px
  position absolute
  top 330px
  left 60px
  margin-right 5px
}

.spinner {
  position absolute
  top 170px
  left 50px
}

.spinner-fill {
  position absolute
  top 50px
  left 30px
  font-size 35px
}

.header-toolbar-spacer {
  margin-top 10px
}
